.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: var(--font-size-xl);
  margin-bottom: 5vh;
}

.list {
  list-style: none;
  margin: 0;
}

.link {
  display: inline-block;
  font-size: 3rem;
  cursor: pointer;
  transition: transform 150ms ease-in-out;
  margin-bottom: var(--space-m);
}

.link:hover {
  transform: scale(1.2);
}

.link,
.link:hover,
.link:focus,
.link:visited {
  color: var(--text-color);
  text-decoration: none;
}
