.container {
  --container-flex-direction: row;
  --content-margin: 64px;
  --main-content-min-width: 612px;
  --title-font-size: 64px;
  --links-display: inline-block;

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: var(--container-flex-direction);
}

.mainContent,
.colorContent {
  flex: 1;
  padding: var(--content-margin);
}

.mainContent {
  min-width: var(--main-content-min-width);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.colorContent {
  text-align: right;
  transition: background 500ms ease-in-out;
}

.callOut {
  font-size: 20px;
  color: var(--text-muted-color);
  margin-bottom: 16px;
}

.title {
  font-size: var(--title-font-size);
  margin-bottom: 64px;
  line-height: 1;
}

.currentColor {
  font-size: 32px;
  text-transform: uppercase;
}

.learnLink,
.trainLink {
  display: var(--links-display);
}

.learnLink {
  margin-left: 32px;
}

@media only screen and (max-width: 1024px) {
  .container {
    --container-flex-direction: column;
    --content-margin: 32px;
    --title-font-size: 48px;
    --main-content-min-width: 0;
    --links-display: block;
  }

  .mainContent {
    min-height: 560px;
  }

  .trainLink {
    margin-bottom: 32px;
  }

  .learnLink {
    margin: 0;
  }
}
