.sections {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 96px;
  max-width: var(--content-max-width);
  margin: 128px auto 0;
  padding: var(--space-l);
}

.hoverInputWidget {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.inputEnter {
  transform: translateY(-100%);
}
.inputEnterActive {
  transform: translateY(0%);
  transition: transform 150ms ease-out;
}

.inputExit {
  transform: translateY(0%);
}
.inputExitActive {
  transform: translateY(-100%);
  transition: transform 150ms ease-out;
}
