.container {
  display: grid;
  grid-auto-flow: row;
  gap: var(--space-m);
  max-width: 600px;
  margin: 0 auto;
  padding: var(--space-m);
}

.inputContainer {
  position: sticky;
  top: 0;
  background: var(--background-color);
  padding: var(--space-m) 0;
  z-index: 2;
}

.profitText {
  font-size: var(--font-size-l);
}
