.container {
  display: grid;
  grid-auto-flow: row;
  gap: var(--space-m);
  max-width: 600px;
  margin: 0 auto;
}

.colorInput {
  margin: var(--space-m) 0;
}

.section {
  margin-bottom: var(--space-l);
}

.sectionTitle {
  font-size: var(--font-size-l);
  font-weight: 600;
  margin-bottom: var(--space-m);
}

.sectionWidget {
  display: flex;
  justify-content: center;
  margin: var(--space-m);
}
