.slider {
  position: relative;
  border-bottom: 2px solid var(--text-color);
  height: 10px;
}

.indicator {
  --size: 8px;
  width: 0;
  height: 0;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--text-color);

  position: absolute;
  top: 0;
  transform: translateX(-50%);
  transition: left 150ms ease-in-out;
}
