.container {
  white-space: nowrap;
  text-align: center;
}

.letter {
  text-transform: uppercase;
  font-size: 64px;
}

.letter:nth-child(odd) {
  color: var(--text-muted-color);
  margin-right: 0.5rem;
}

@media only screen and (max-width: 480px) {
  .letter {
    font-size: 48px;
  }
}
