.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.content {
  display: inline-grid;
  grid-auto-flow: column;
  gap: var(--space-xs);
  padding: var(--space-s);
  justify-items: center;
}

.bar {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.4);
}

.value {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #ddd;
  transition: all 150ms ease-in-out;
}

.wrapper.dark .bar {
  background: rgba(15, 16, 18, 0.4);
}
.wrapper.dark .value {
  background: var(--background-color);
}
