.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.list {
  position: absolute;
  list-style: none;
  margin: 0;
}

.item {
  position: absolute;
  cursor: help;
  transition: transform 150ms ease-in-out;
}

.itemHightlighted {
  transform: scale(1.5);
}

.colorLabel {
  font-size: var(--font-size-l);
}
