.container {
  white-space: nowrap;
  background: #000;
  text-align: center;
  padding: 64px;
}

.letter {
  text-transform: uppercase;
  font-size: 64px;
}

.letter:nth-child(odd) {
  color: var(--text-muted-color);
  margin-right: 0.5rem;
}
