.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.content {
  display: inline-grid;
  grid-auto-flow: column;
  gap: var(--space-xs);
  padding: var(--space-s);
}

.bar {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
  background: #777;
}

.value {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #ddd;
  transition: height 150ms ease-in-out;
}
