.list {
  list-style: none;
  margin: 0;
  display: inline-flex;
  font-size: var(--font-size-l);
}

.item {
  margin-right: var(--space-m);
}

.componentContainer {
  display: flex;
  flex-direction: column;
}

.componentValue {
  text-transform: uppercase;
}

.componentPart {
  text-transform: uppercase;
}
