.container {
  max-width: var(--content-max-width);
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}

.links {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
}

.links > li:not(:first-child) {
  margin-left: 16px;
}
