:root {
  --background-color: #444;
  --text-color: #fff;
  --text-muted-color: #888;
  --text-error-color: #d44;

  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 32px;

  --font-size-base: 16px;
  --font-size-l: 2rem;
  --font-size-xl: 4rem;
}

html,
body {
  font-family: arial, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size-base);
  line-height: 1.5;
}

* {
  box-sizing: border-box !important;
}

hr {
  display: block;
  width: 100%;
  border: 1px dashed var(--text-muted-color);
}

p {
  margin-bottom: var(--space-s);
}

b {
  font-weight: 600;
}

code {
  font-family: monospace;
}
