:root {
  --background-color: #1c1c1c;
  --text-color: #000;
  --text-muted-color: #888;
  --text-error-color: #d44;

  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 32px;
}

html,
body {
  font-family: arial, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box !important;
}
