:root {
  --background-color: #111;
  --text-color: #fff;
  --text-muted-color: rgba(255, 255, 255, 0.4);
  --text-error-color: #d44;

  /* optimal reading width */
  --content-max-width: 60ch;

  --space-xs: 4px;
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 32px;

  --font-size-base: 20px;
  --font-size-l: 2.4rem;
  --font-size-xl: 3.2rem;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  font-size: var(--font-size-base);
  line-height: 1.5;
}

* {
  box-sizing: border-box !important;
}

hr {
  display: block;
  width: 100%;
  border: 1px dashed var(--text-muted-color);
}

p {
  margin-bottom: var(--space-l);
}

b,
em {
  font-weight: 500;
}

code {
  font-family: monospace;
}
